/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------Geral--------------*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background: gray;
}
/*---------------Topo---------------*/
header{
    background: rgb(18, 160, 255);
    padding: 3vw;
    border-bottom: solid white 1px;
}
header h1{
    font-size: 2rem;
}
/*-------------Introdução-------------*/
section.introducao{
    margin: 4vw 0 4vw 0;
}
section.introducao h2{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
/*----------Calculadora-2ºgrau---------*/
section.calc-seg{
    width: 30%;
    margin: 0 0 0 8vw;
    background: rgb(34, 34, 34);
    text-align: center;
    padding: 1vw;
    border-radius: 10px;
    border: solid white 2px;
}
section.calc-seg h3{
    font-size: 1.5rem;
    margin: 2vw 0 2vw 0;
}
section.calc-seg div.info input{
    font-size: 20px;
    text-align: center;
    width: 50px;
    height: 30px;
    background: rgb(34, 34, 34) ;
    color: white;
    border: solid white 1px;
}
section.calc-seg div.info button{
    background: rgb(34, 34, 34);
    color: white;
    border: solid white 1px;
    width: 8vw;
    height: 2vw;
    margin: 2vw 0 0 0;
    border-radius: 10px;
}
section.calc-seg div.resultado p{
    text-align: left;
}
section.calc-seg div.resultado button{
    background: rgb(34, 34, 34);
    color: white;
    border: solid white 1px;
    width: 8vw;
    height: 4vw;
    margin: 2vw 0 0 0;
    border-radius: 10px;
}